body{
    display: flex;
    justify-content: center;
    font-family: arial;
    align-items: center;
    text-align: center;
    height: 100vh;
}
a{
    color: black;
}
.logo img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.contact{
    font-size: 1.5rem;
    text-align: center;
}
.social{
    font-size: 3rem;
    text-align: center;
}
.social i{
    padding: 0 10px;
}
.social .instagram{
    color: rgb(246, 0, 192);
    }
    .social .facebook{
        color: rgb(0, 26, 255);
        }
.container{
    background-color: rgb(255, 255, 255);
    padding: 90px;
    box-shadow: 3px 5px 6px 6px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
}
@media (max-width:442px) {
    .container{
    padding: 60px;

    }

    
}

@media (max-width:332px) {
    .container{
    padding: 20px;

    }

    
}